body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  text-align: center;
}

.locations {
  display: flex;
  width: 100%;
  outline: 1px solid red;
  overflow-x: auto;
}

.location {
  width: 100%;
  min-width: 800px;
  outline: 1px solid green;
  
  h2 {
    border-bottom: 1px solid black;
    margin: 0;
    padding: 1rem;
  }
}

.locations {
  padding-top: 65px;
}

.months {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
}

.month {
  min-width: 50%;
  outline: 1px solid blue;
  
  h3 {
    border-bottom: 1px solid black;
    margin: 0;
    padding: 1rem;
  }
}
